.camera-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

.camera-content {
    position: absolute;
}

img {
    position: absolute;
    top: 0;
    left: 0;
}
